.fluid-header {
  margin: -24px;
  margin-bottom: 60px;
  text-align: center;
  background-position: center center;
  background-color: #989898;
  background-size: cover;
  position: relative;
  height: 200px;
}
.parallax {
  background-color: #989898;
}
.fluid-header .close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 0px;
}
.profpic {
  width: 50px;
}
.fluid-header img {
  margin-top:150px;
  width: 100px;
}
.profile-modal {
  height: auto;
  overflow: auto;
  max-height: 700px;
  width: 30%;
  min-width: 400px;
}
.count_int {
  font-weight: bolder;
  font-size: 30px;
}
#map-canvas {
  height: 300px;
  width: 100%;
}
.destinasi {
  background-color: rgba(0, 0, 0, 0.74);
  width: 100%;
  color: #fff;
  padding-top: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.title-destinasi {
  font-weight: bold;
  font-size: 20pt;
  line-height: 21pt;
}
.title-destinasi small {
  font-weight: normal;
}
.tbl-loc td:first-child {
  width: 20%;
}
.tbl-loc td {
  padding: 5px;
}
/*profil tabs*/
.tabs {
  background-color: #fff;
}
.tabs .tab {
}
.tabs .tab a {
  color: #00796b;
}
.tabs .tab a:hover {
        color: #016257; }
    .tabs .tab.disabled a {
      color: #f9c9cb;
      cursor: default; }
  .tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #01584e;
    will-change: left, right; }

/*Signup*/
.rowback {
  position: relative;
  background-color: #008080;
  height: 400px;
  margin-bottom: -290px;
  color: #fff;
  padding-top: 40px;
  text-align: center;
}
.back-btn {
  position: absolute;
  z-index: 1;
  bottom: -25px;;
  left: 15px;
}
.login-btn {
  position: absolute;
  z-index: 1;
  bottom: -25px;
  right: 15px;
}
.rowback h3{
  margin-top: 0px;
}
 .form-signup {
   position: relative;
   margin-top: 30px;
   background-color: #fff;
   padding: 20px;
 box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
 z-index: 3;
 }
 .form-signup h3 {
   margin-top: 0px;
 }
 .form-signup p, .form-signup .s12 p {
   color: #575b5a;
 }
